{% extends "appventas/padre.html" %}
{% load static %}

{% block contenidoQueCmabia %}
<div class="container">
    <h5>Buscar Equipo</h5>
    <form action=""  method="POST">
        {% csrf_token %}
        <table>
            {{ formulario.as_table }}
        </table>
        <br>
        <button type="submit" class="btn btn-success">Buscar</button>
    </form>
    <br>
    <div class="row">
        {% for equipo in equipo %}
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="{{equipo.imagen.url }}" class="card-img-top" alt="{{ equipo.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ equipo.nombre }}</h5>
                    <p class="card-text">{{ equipo.descripcion }}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ equipo.precio }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock contenidoQueCmabia %}