<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Equipo</title>
</head>
<body>
    <h2>Formulario de Equipo</h2>
    <form action="/appventas/equipo-form/"  method="POST">
        {% csrf_token %}
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>

        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion"></textarea><br>

        <label for="imagen">Imagen:</label><br>
        <input type="text" id="imagen" name="imagen"><br>

        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" step="0.01"><br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
