{% extends "appventas/padre.html" %}
{% load static %}
{% block contenidoQueCmabia %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">¿Quiénes somos?</h2>
            <p class="card-text">Somos una empresa especializada con tecnología de punta, nuestros equipos informáticos y suministros, son de marcas mundialmente reconocidas por sus altos estándares de eficiencia y calidad; nos caracterizamos en trabajar en el mercado empresarial y gubernamental. Todos nuestros equipos gozan de la garantía de los fabricantes.</p>
            <p class="card-text">Ayudamos a las empresas y a las personas a concienciarse sobre la importancia de la necesidad de la transformación tecnológica digital: eficiencia y mejora de procesos, digitalización, multicanalidad, identificación indicadores clave negocio, seguridad de la información , consolidación de datos y accesibilidad remota. Aportamos valor a nuestros clientes poniendo a su disposición nuestro experiencia y conocimiento, a los que sumamos un conjunto de servicios y soluciones tecnológicas que nos hace diferentes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Visión</h3>
            <p class="card-text">Proporcionar las tecnologías más innovadoras a medida de las necesidades empresariales, con el objetivo de incrementar su competitividad y productividad. Para ello implementamos soluciones prácticas adaptadas a sus necesidades y desarrollamos nuevas soluciones creativas. Nuestra base parte del aprovechamiento de las nuevas redes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Misión</h3>
            <p class="card-text">Queremos estar comprometidos con los problemas de nuestros clientes de forma transparente y eficaz para convertirnos en su socio de confianza. En nuestra visión queremos ser una empresa de referencia, que camina con el cambio de la tecnología y la sociedad, dando a conocer las posibilidades de los estándares y tecnologías libres.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock contenidoQueCmabia %}